.row::after {
    content: "";
    clear: both;
    display: block;
}
 
[class*="col_"] {
    float: left;
    padding: 15px;
}
 
.col_1 {width: 8.33%;}
.col_2 {width: 16.66%;}
.col_3 {width: 25%;}
.col_4 {width: 33.33%;}
.col_5 {width: 41.66%;}
.col_6 {width: 50%;}
.col_7 {width: 58.33%;}
.col_8 {width: 66.66%;}
.col_9 {width: 75%;}
.col_10 {width: 83.33%;}
.col_11 {width: 91.66%;}
.col_12 {width: 100%;}
 
#products, #subscriptions {
    overflow-x: hidden;
    overflow-y: auto;
    width: 80%;
    margin:auto;
}
 
#seller_table, #edit_account, #admin-tbl {
    overflow-x: hidden;
    overflow-y: auto;
}
 
@media (max-width: 768px) {
    /* For mobile phones: */
    [class*="col_"] {
        width: 100%;
    }
 
    #products, #subscriptions {
        width: 100%;
    }
}

#login-body {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/* Srivat's css */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clearfix {
    clear: both;
}

.login-img-bg {
    position: absolute;
    width: 1115px;
    height: 526px;
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
}

.login-form-div {
    max-width: 575px;
    max-height: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 243px;
    margin-top: 35px;
    padding-left: 60px;
    padding-top: 22px;
}

.header-footer {
    padding: 1em;
    color: black;
    clear: left;
    text-align: center;
}

.form-control {
    max-width: 340px;
    height: 51px;
}

.paddingT {
    padding-top: 10px;
}

.logo-img {
    position: relative;
    margin: 0;
    padding-bottom: 50px;
    margin-left: 87px;
    margin-top: 22px;
    clear: both;
    display: table-cell;
    text-align: center;
    max-width: 182px;
    height: 135px;
    background-repeat: no-repeat;
    background-position: 0 0;
}


#myTopnav li.active {
    background-color: gray;
}

.box-content {
    padding-top: 20px;
}

.admin-tcell {
    vertical-align: middle !important;
}
.order-card{
    margin-top: 10px;
}
.admin-form .row:nth-of-type(even) div {
background-color:lightblue;
}